.container {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}
.spinner {
	width: 56px;
	height: 56px;
	display: grid;
	animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
	content: '';
	grid-area: 1/1;
	border: 9px solid;
	border-radius: 50%;
	border-color: #f6b32b #f6b32b #0000 #0000;
	mix-blend-mode: darken;
	animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
	border-color: #0000 #0000 #f6d3b7 #f6d3b7;
	animation-direction: reverse;
}

@keyframes spinner-plncf9 {
	100% {
		transform: rotate(1turn);
	}
}
