.frases-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}
@media (min-width: 576px) {
	.frases-grid {
		grid-template-columns: 1fr 1fr;
	}
}
.frases {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/bosque.jpg');

	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
