.personajes {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://hbomax-images.warnermediacdn.com/2021-12/hp-reu-hero.jpg?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=2800');
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
}
