.frases {
	padding: 20px 5px 50px 5px;
	h2 {
		text-align: center;
		margin-bottom: 30px;
		font-size: 2.5rem;
	}
	&-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 700px;
		margin: 0 auto;
		gap: 20px;
		margin-bottom: 20px;
	}
}
